body{
    margin: 0%;
    font-family:sans-serif;
    background-color: #FBF6EE;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: #FFB534 ;
    padding: 0rem 2rem;
    align-items: center;
}

header > button a{
    color: white;
    text-decoration: none;
}
.formSection{
    text-align: center;
    padding-top: 2rem;

}
form{
    width: 50%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: auto;
    gap: 10px;
}
form > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.input {
    width: 45%;
}
.deleteBtn{
    flex-grow: 0.95;
}
.clientSection{
    padding: 2rem 5rem;
}
.card{
    width: 300px;
}